div.container-fluid {
  padding: 0px;
}

.my-cursor-pointer {
  cursor: pointer;
}

body {
  background: url('bg.png') fixed;
  padding-right: 0px!important;
}

body.modal-open {
  overflow: auto !important;
}
.modal-backdrop.fade.show {
  display: none !important;
}